.navBar {
    display: flex;
    background-color: #DB261A;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 38px 0 38px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    z-index: 20;
}
.BrandSearch {
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.BrandName {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.SearchBar {
    background-color: #DB261A;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 35px;
    width: 200px;
    height: 25px;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
}
.SearchBar::placeholder{
    color: white;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
a{
    color: white;
    text-decoration: none;
}
a button {
    background-color: #185AC2;
    border: none;
    padding: 10px 18px 10px 18px;
    border-radius: 26px;
    color: white;
}
.profile {
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.profilePic {
    height: 30px;
    width: 30px;
}
.profileName {
    color: white;
}
.HeroImage{
    width: 100%;
    height: 200px;
}
.Image-container {
    margin-top: 50px;
    position: relative;
    justify-items: center;
}
.filters {
 position: absolute;
 left: 50%;         /* Move to the middle horizontally */
 transform: translateX(-50%); /* Shift back by 50% of its width */
 top: 100px;
 text-align: center;
}
select{
    border: none;
    background-color: #DB261A;
    color:#ffffff;
    width: 100px;
    padding: 8px 12px 8px 12px;
    width: 120px;
    border-radius: 8px;
}
.Heading1 {
    font-weight: bold;
    font-size: 30px;
}
.viewed-card {
    background-color: white;
    box-shadow: 5px 10px 5px rgb(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
   
    border-radius: 18px;
    padding: 18px;
}
.progress-bar {
    width: 200px;
    background-color: #a5a5a5; /* Light gray background */
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
  }
  
  .progress {
    background-color: #DB261A; /* Red progress bar */
    height: 10px;
    width: 50%; /* Adjust this width to change progress */
    transition: width 0.5s ease;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
.Thumbnail {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    margin-right: 16px;
}
.Thumbnail-2 {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-right: 16px;
}
.viewing {
    display: flex;
    align-items: start;
}
.progress-detail {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.progress-detail p, .second-part p {
    margin-top: 0;
    margin-bottom: 0;
}
.duration {
    font-weight: medium;
    color:rgb(78, 78, 78);
    margin-left: 10px; 
}
.duration-progress {
    display: flex;
    align-items: center;
}
.brand {
    font-weight: bold;
}
.topic {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}
.second-part {
    display: flex;
    flex-direction: column;
}
.second-part p {
    font-weight: bold;
    margin-bottom: 10px;
}
.tutorial-video {
    display: flex;
    flex-direction: column;
   
    row-gap: 4px;
}
.logo-brand {
    display: flex;
    column-gap: 4px;

}
.logo{
    width: 20px;
    height: 20px;
}
.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    column-gap: 12px;
   justify-content: space-evenly;
}
.socials img {
    width: 24px;
    height: 24px;
} 
.first-division {
    border-bottom: solid white 1px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.second-division {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    color: white;
}
.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    row-gap: 6px;
}
.social-medias{
    display: flex;
    justify-content: space-between;
    
    column-gap: 10px;
   
}
.third-division {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    color: white;
}
.third-division div {
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.newsLetter {
    display: flex;
    column-gap: 8px;
}
.newsLetter input {
    border: none;
    border-radius: 4px;
    height: 30px;

}
.newsLetter button {
   border-radius: 20px;
   border: none;
   padding: 8px 14px 8px 14px;
   color:#DB261A;
   font-weight: bold;
}
.footNote {
    background-color: #DB261A;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}
.footNote p {
    margin-bottom: 10px;
    margin-top: 10px;
}
p, h1, h2 {
   margin-top: 0;
    margin-bottom: 0;
}
.SecondSection h2, .ThirdSection h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}
button {
    background-color: #DB261A;
    color: white;
    padding: 8px 12px 8px 12px;
    border-radius: 6px;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
}
